<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <%- include('../partials/navbar') %>

      <form action="/api/peminjam/searchBook" method="GET">
        <input 
            type="text" 
            name="q" 
            value="<%= keyword %>" 
            placeholder="Cari judul buku..."
        >
        <button type="submit">Cari</button>
        </form>

        <%
        const dataBuku = results.length > 0 ? results : buku;
        %>

        <% dataBuku.forEach(b => { %>
        <div class="buku-card">
            <h2><%= b.judul %></h2>
            <p><%= b.pengarang %></p>
            <p><%= b.kategori %></p>

            <p>Stok Tersedia: <%= b.stok_tersedia %></p>

            <a href="/api/peminjam/detail/<%= b.id %>">
            Detail
            </a>
        </div>
        <% }) %>

        <% if(results.length === 0 && keyword) { %>
        <p>No results found for '<%= keyword %>'</p>
        <% } %>
</body>
</html>